@model IEnumerable<BrickCity.Models.Consumer>
@{
    ViewData["Title"] = "Список потребителей";
}

<h3>Потребители</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Наименвание</td> 
    </tr>
    @{
        foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
        }
    }
</table>