@{
    ViewData["Title"] = "График";
}

@section Styles{
    <link href="~/js/Charts/charts.css" rel="stylesheet" />
}

@section Scripts{
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="~/js/Charts/charts.js"></script>
}

<section>
    <h3>Потребление города линией</h3>
    <div id="stackedChart"></div>

    <h3>Дома от погоды</h3>
    <div id="houseChart"></div>

    <h3>Заводы от цены на кирпич</h3>
    <div id="plantChart"></div>
</section>

